{% extends "layout.html" %}

{% block page_header %}Your Account{% endblock %}

{% block body %}
    <div class="span8">
        {% if user.is_temp_account() %}
            <p><h3>Create an account</h3></p>
            <p>Enter your details below to create a real account and copy your data to it</p>
            <p><form class="form-horizontal" method="POST" action="{{ url_for('signup_account') }}?n=ac" id="signup_account">
            {% if signup_error == 'NotGiven' %}
                <em>Please fill in all fields</em>
            {% elif signup_error == 'PasswordMatch' %}
                <em>The passwords did not match</em>
            {% elif signup_error == 'EmailExists' %}
                <em>An account with that email already exists</em>
            {% elif signup_error == 'InvalidEmail' %}
                <em>Invalid email address</em>
            {% endif %}
            <fieldset>
                <div class="control-group {% if signup_error in ('NotGiven','InvalidEmail','EmailExists') %}error{% endif %}">
                    <label class="control-label" for="email_signup">Email</label>
                    <div class="controls">
                        <input type="text" class="input large" id="email_signup" name="email" value="{{ email_signup }}">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group {% if signup_error in ('PasswordMatch','NotGiven') %}error{% endif %}">
                    <label class="control-label" for="password_signup">Password</label>
                    <div class="controls">
                        <input type="password" class="input" id="password_signup" name="password">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group {% if signup_error in ('PasswordMatch','NotGiven') %}error{% endif %}">
                    <label class="control-label" for="password_signup2">Password again</label>
                    <div class="controls">
                        <input type="password" class="input" id="password_signup2" name="password2">
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form></p>
        {% endif %}
    </div>
{% endblock %}