{% extends "layout.html" %}

{% block fb_methods %}
    FB.getLoginStatus(function(response) {
        console.log("Response");
        console.log(response);
        if (response.status === 'connected') {
            $("#logout_button").click(function(ev){
                FB.logout(function(response){
                    console.log("Logged out");
                    window.location = "{{ url_for('logout') }}";
                });
            });
        } else {
            window.location = "{{ url_for('logout') }}";
        }
        });
{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/json2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/jquery.fancybox-1.3.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spin.js') }}"></script>

    <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

    <script type="text/javascript">

        $.fn.spin = function(opts) {
            this.each(function() {
                var $this = $(this),
                        data = $this.data();

                if (data.spinner) {
                    data.spinner.stop();
                    delete data.spinner;
                }
                if (opts !== false) {
                    data.spinner = new Spinner($.extend({color: $this.css('color')}, opts)).spin(this);
                }
            });
            return this;
        };

        // http://dumpsite.com/forum/index.php?topic=4.msg8#msg8
        String.prototype.replaceAll = function(str1, str2, ignore)
        {
            return this.replace(new RegExp(str1.replace(/([\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g, function(c){return "\\" + c;}), "g"+(ignore?"i":"")), str2);
        };

        $(document).ready(function(){

            window.HandleTrailerClick = function(movie_id){

                $("#movie_"+movie_id).spin();
                $("#movie_"+movie_id+">#trailer_video").addClass("disabled");

                var movie = app.movieSuggestions.get(movie_id);
                var search_title = movie.get("title") + " (" + movie.get("year") + ") trailer";
                var url = "https://gdata.youtube.com/feeds/api/videos?alt=json-in-script&q="+encodeURI(search_title);

                $.ajax({
                    url:url,
                    method:"GET",
                    dataType:"jsonp"
                }).success(function(data){
                            var url = data.feed.entry[0].link[0].href.replace("watch?v=","v/");
                            $("#movie_"+movie_id+">#trailer_video").removeClass("disabled");
                            $("#movie_"+movie_id).spin(false);
                            $.fancybox({
                                'type':'iframe',
                                'href':url,
                                'autoDimensions':'true'
                            })
                })
            };


            window.setupSearch = function (){
                $("#random_movie").click(function(){
                    $.ajax({
                        url:'/api/randommovie',
                        method: 'GET',
                        dataType: 'text'
                    }).success(function(text){
                                $("#search_box").val("");
                                $("#search_box").attr("placeholder", text);
                            })
                });

                var result_template = _.template($("#template_search_results").html());


                $("#search_box").keydown(function(event){
                    var text = ($("#search_box").val() + String.fromCharCode(event.which)).toLowerCase();

                    var text = text.replaceAll(" ","_");
                    var text = text.replace(/[^\w_]+/g, '');
                    if (text != ""){
                        var url = "http://sg.media-imdb.com/suggests/" + text[0] + "/" + text + ".json";
                        var function_name = "imdb$" + text;
                        window[function_name] = function(results){
                            $("#results_table").find("tbody>tr").remove();

                            var results = _.filter(results["d"], function(result){ return ("q" in result && result["q"] == "feature")});
                            $("#results_table").find("tbody").html(result_template({results:results}));

                            delete window[function_name];
                        };

                        $.ajax({
                            url: url,
                            type: "GET",
                            dataType: "jsonp",
                            crossDomain:true
                        })
                    }
                })
            };

            $.getScript('{{ url_for('static', filename='js/movie.js') }}');


            $("#button_show_rec").click(function(){
                app.navigate("",true)
            });

            $("#button_show_search").click(function(){
                app.navigate("search",true)
            });
        })
    </script>

    <script type="text/template" id="template_movie_item">
        <div class="row">
            <%= object['title'] %>
            <div class="pull-right">
                <a href="#" class="delete_movie_item" data-id="<%= object['id'] %>">x</a>
            </div>
        </div>
    </script>

    <script type="text/template" id="moviequeue_template">
        <% _.each(objects, function(obj) { %>
            <div class="row">
                <%= obj.get('title') %>
                <div class="pull-right">
                    <a href="#" class="view_queue_item" data-id="<%= obj.get('id') %>">view</a>
                </div>
            </div>
        <% }); %>
    </script>

    <script type="text/template" id="template_search_results">
        <% _.each(results, function(result) { %>
            <tr id="<%= result['id'] %>_search">
                <td>
                    <p>
                        <p></p>
                        <a class="btn btn-success"
                           onclick='handleSearchClick("<%= result["id"] %>", "<%= _.escape(result["l"]) %>")'>
                            <i class="icon-thumbs-up icon-white"></i>
                        </a>
                        <p></p>
                    </p>
                </td>
                <td>
                    <p>
                        <h3><%= result["l"] %> (<%= result["y"] %>)</h3>
                        <em><%= result["s"] %></em>
                    </p>
                </td>
            </tr>
        <% }); %>
    </script>

    <script type="text/template" id="search_view">
        <p>Have a search for some movies you have watched and enjoyed -
            this will help us to build a personalised recommendation list for you</p>
        <br />
        <div class="input-append">
            <input placeholder="{{ placeholder }}" style="height:30px; font-size:15pt;"
                   class="span7 search-query" id="search_box" type="text">
            <button class="btn btn-large" id="random_movie" type="button"><i class="icon-refresh"></i></button>
        </div>

        <br />
        <br />

        <table class="table" id="results_table">
            <tbody>

            </tbody>
        </table>
    </script>

    <script type="text/template" id="template_recommendation_item">
        <%= object['title'] %>
    </script>

    <script type="text/template" id="recommendations_view">
        <div class="row">
            <div class="span8">
                <table class="table table-bordered" id="recommendations_table">
                    <tbody>
                    <% _.each(objects, function(rec) { %>
                        <tr>
                            <td width="100" height="150"><img src="<%= rec.get('poster') %>"
                                     height=150 width="100"
                                     onerror="this.src = '{{ url_for("static",filename="img/no_cover_art.gif") }}'"></td>
                            <td class="span3">
                                <h4><a target="_blank" href="http://www.imdb.com/title/tt<%= rec.get('imdb_id') %>">
                                <%= rec.get('title') %> (<%= rec.get('year') %>)</a></h4>
                                <p><small><%= rec.get('plot_outline') %></small></p>
                                <% if (!app.moviequeue.get(rec.get('id'))) { %>
                                <p><small>Recommended because you liked: <em><%= rec.get('linked_by') %></em></small></p>
                                <% } else { %>
                                <br />
                                <br />
                                <a class="btn btn-info"
                                   onclick='app.movieSuggestions.fetch();'>
                                    <i class="icon-arrow-left icon-white"></i> Back to results
                                </a>
                                <% } %>
                            </td>
                            <td>
                                <p>Directed by <%= rec.get('director') %></p>
                                <p><strong>IMDB score:</strong>
                                    <a href="http://www.imdb.com/title/tt<%= rec.get('imdb_id') %>"
                                            target="_blank">
                                        <%= rec.get('score') %>
                                    </a>
                                </p>
                                <% if (rec.get('tomatoes_score') != 'unknown') { %>
                                <p><strong>Rotten tomatoes score:</strong>

                                    <a href="http://www.rottentomatoes.com/search/?search=<%= rec.get('title') %>"
                                       target="_blank">
                                        <%= rec.get('tomatoes_score') %>
                                    </a>
                                </p>
                                <% } %>
                                <p>
                                    <strong>Genre:</strong>
                                    <%= rec.get('genre') %>
                                </p>
                                <p>
                                    <strong>Ratings:</strong>
                                    <%= rec.get("rating_uk") %> (UK) <%= rec.get("rating_usa") %> (USA)
                                </p>
                                <p>
                                    <strong>Languages:</strong>
                                    <%= rec.get("languages") %>
                                </p>

                                <p><strong>Stars:</strong>
                                    <%= rec.get("stars") %>
                                </p>

                                    <div class="span3" id="movie_<%= rec.get('id') %>">
                                        <a class="btn btn-success"
                                           title="I liked this movie"
                                           onclick="handleRecommendedLikeClick(<%= rec.get('id') %>)">
                                            <i class="icon-thumbs-up icon-white"></i>
                                        </a>
                                        <a class="btn btn-danger"
                                           title="I disliked this movie"
                                           onclick="handleRecommendedDislikeClick(<%= rec.get('id') %>)">
                                            <i class="icon-thumbs-down icon-white"></i>
                                        </a>
                                        <% if (!app.moviequeue.get(rec.get('id'))) { %>
                                        <a class="btn btn-primary" onclick="HandleAddQueueClick(<%= rec.get('id') %>)" title="Add to my watchlist">
                                            <i class=" icon-plus icon-white"></i>
                                        </a>
                                        <% } else { %>
                                        <a class="btn btn-inverse remove_button" x-id="<%= rec.get('id') %>" title="Remove from my watchlist">
                                            <i class="icon-minus icon-white"></i>
                                        </a>
                                        <% } %>
                                        <a id="trailer_video" class="btn btn-info"
                                           onclick="HandleTrailerClick(<%= rec.get('id') %>)">
                                            <i class="icon-film"></i>
                                        </a>
                                    </div>


                                <p></p>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>



{% endblock %}

{% block page_header %}{% endblock %}

{% block body %}

    <div class="span8" id="main">

    </div>

    <div class="span4">
        <p><a id="button_show_rec" class="btn btn-success btn-large">
            <i class="icon-white icon-ok"></i>
            Show me my recommendations
        </a>

        <a id="button_show_search" class="btn btn-success btn-large">
            <i class="icon-white icon-search"></i>
            Search for some more movies
        </a></p>

        <div class="well">
            <p>
                <h4>Your queue</h4>
            </p>

            <ul id="movieQueue"></ul>

        </div>

        <div class="well">
            <p>
                <h4>Movies you enjoyed:</h4>
            </p>

            <ul id="movieList"></ul>
        </div>
    </div>

{% endblock %}