<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>

        {% block head %}{% endblock %}

    </head>

    <body>
    <div id="fb-root"></div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Movie Recommender</a>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="page-header">
                <h1 id="pheader">
                    {% block page_header %}{% endblock %}
                </h1>
            </div>
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}{% endblock %}

    </body>


</html>