<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon"
              type="image/png"
              href="{{ url_for('static', filename='favicon.ico') }}">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
        <script src="{{ url_for('static', filename='js/json2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>

        <link href="{{ url_for('static', filename='css/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" media="screen">
        <script src="{{ url_for('static', filename='js/jquery.fancybox-1.3.4.js') }}"></script>
        <script src="{{ url_for('static', filename='js/spin.js') }}"></script>
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '{{ config["FACEBOOK_APP_ID"] }}',
                    status     : true,
                    cookie     : true,
                    xfbml      : true,
                    oauth      : true,
                    logging    : true
                });
                {% block fb_methods %}{% endblock %}
            };
            (function(d){
                var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                d.getElementsByTagName('head')[0].appendChild(js);
            }(document));
        </script>

        {% block head %}{% endblock %}

        {% if config["GOOGLE_ANALYTICS_ID"] %}
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ config["GOOGLE_ANALYTICS_ID"] }}']);
                {% if config["GOOGLE_ANALYTICS_HOST"] %}
                    _gaq.push(['_setDomainName', '{{ config["GOOGLE_ANALYTICS_HOST"] }}']);
                {% endif %}
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
        {% endif %}

    </head>

    <body>
    <div id="fb-root"></div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Movie Recommender</a>
                    {% if session.get('auth_user',None) %}
                        <ul class="nav pull-right">

                            {% if user.is_temp_account() %}
                                <li>
                                    <a href="{{ url_for('account') }}">Create an account</a>
                                </li>
                            {% endif %}
                            </li>
                            <li>
                                {% if user.is_temp_account() %}
                                    <a data-toggle="modal" href="#tempLogoutModal">Logout</a>
                                {% else %}
                                    <a href="{{ url_for('logout') }}" id="logout_button">Logout</a>
                                {% endif %}
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="modal hide fade in" id="tempLogoutModal">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>Warning</h3>
            </div>
            <div class="modal-body">
                <p><strong>You are signed into a temporary account.</strong></p>
                <p>
                    Logging out means you will not be able to log back in and will loose all of your data
                </p>
                <p>
                    If you wish to continue using this service with a real account you can import your data into a
                    new account by clicking on the "Account" tab and copying your "Import Access Code" and entering it
                    on your new account.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-success">Cancel</a>
                <a class="btn btn-danger" href="{{ url_for('logout') }}">I understand, log me out</a>
            </div>
        </div>


        <div class="container">
            <div class="page-header">
                <h1 id="pheader">
                    {% block page_header %}{% endblock %}
                </h1>
            </div>
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}{% endblock %}

    </body>


</html>